.calibre {
  display: block;
  font-size: 1em;
  padding-left: 0;
  padding-right: 0;
  margin: 0 5pt;
}
.calibre1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
  line-height: 1.2;
  margin: 0.67em 0;
}
.calibre2 {
  display: block;
}
.calibre3 {
  display: block;
  margin: 1em 0;
}
.calibre4 {
  font-size: 0.75em;
  line-height: normal;
  vertical-align: super;
}
.calibre5 {
  font-style: italic;
}
.calibre6 {
  font-size: 0.91667em;
  line-height: normal;
  vertical-align: super;
}
.calibre7 {
  display: block;
  list-style-type: decimal;
  margin: 1em 0;
}
.calibre8 {
  display: list-item;
}
